{% macro render_tag(tag) -%}
  <a href="{{ SITEURL }}/{{ tag.url }}" data-toggle="tooltip"
      class="label label-default"
      title="{{ tag.articles }} article{{ 's' if tag.articles > 1 else '' }} with this tag">{{ tag.name }}</a>
{%- endmacro %}

{% macro render_link_icon(link, label, favicon=True) -%}
  {% set icon = [] %}
  {% set favicon = False if favicon == False else True %}
  {% set protocol = link.split(':', 1)[0] %}
  {% if protocol == 'mailto' %}
    {% if icon.append('envelope') %}{% endif %}
  {% elif protocol.startswith('http') %}
    {% set domain = link.split('%s://' % protocol, 1)[1].split('/', 1)[0] %}
    {% set SITE_ICONS = {
          'apple': ['apple.com']
        , 'github': ['github.com']
        , 'twitter': ['twitter.com']
        , 'youtube': ['youtube.com']
        , 'dropbox': ['dropbox.com']
        , 'facebook-square': ['facebook.com']
        , 'file-text': ['docs.google.com']
        , 'bitbucket': ['bitbucket.org', 'bitbucket.com']
        , 'linkedin-square': ['linkedin.com']
        , 'stack-overflow': ['stackoverflow.com']
        , 'stack-exchange': ['stackexchange.com']
        }
    %}
    {% for (site_icon, site_domains) in SITE_ICONS.items() %}
      {% for site_domain in site_domains %}
        {% if domain.startswith(site_domain) %}
          {% if icon.append(site_icon) %}{% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
  <a href="{{ link }}">
    {% if icon %}
      <i class="fa {{ 'fa-%s' % icon[0] }} fa-fw"></i>
    {% elif domain and favicon %}
      <img src="https://icons.better-idea.org/icon?url={{ domain }}&size=16" width="16" height="16" class="icon" alt="{{ domain }} icon"/>
    {% else %}
      <i class="fa fa-link fa-fw"></i>
    {% endif %}
    {{ label }}
  </a>
{%- endmacro %}
